AxaptaApiApp/Service References/ExpenseService/ExpenseServices6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org" elementFormDefault="qualified" targetNamespace="http://tempuri.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ax2012r2a:8101/DynamicsAx/Services/ExpenseServices?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" />
  <xs:element name="ExchangeRateForCurrenciesServiceGetCompanyCurAmountRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_exchangeDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="_transactionAmount" type="xs:decimal" />
        <xs:element minOccurs="0" name="_transactionCurrency" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_cmpId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExchangeRateForCurrenciesServiceGetCompanyCurAmountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExchangeRateForCurrenciesServiceGetExchangeRateForCurrenciesRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_fromCurrency" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_toCurrency" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_exchangeDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="_cmpId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExchangeRateForCurrenciesServiceGetExchangeRateForCurrenciesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogisticsAddressCountryRegionServiceGetLogisticsAddressCountryRegionsRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LogisticsAddressCountryRegionServiceGetLogisticsAddressCountryRegionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q1:ArrayOfLogisticsAddressCountryRegionContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProjActivitiesServiceGetProjectActivitiesRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_projId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProjActivitiesServiceGetProjectActivitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q2:ArrayOfProjActivitiesContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProjLinePropertyServiceGetLinePropertyRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProjLinePropertyServiceGetLinePropertyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q3:ArrayOfProjLinePropertyContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProjLinePropertyServiceGetProjLinePropertyRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_projId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_categoryId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProjLinePropertyServiceGetProjLinePropertyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvAdminCustomFieldsServiceGetFieldVisibilitiesRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvAdminCustomFieldsServiceGetFieldVisibilitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q4:ArrayOfTrvAdminCustomFieldsContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>