AxaptaApiApp/Service References/ExpenseService/ExpenseServices9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="XppObjectBase">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="XppObjectBase" nillable="true" type="tns:XppObjectBase" />
  <xs:simpleType name="NoYes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="No" />
      <xs:enumeration value="Yes" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="NoYes" nillable="true" type="tns:NoYes" />
  <xs:simpleType name="Types">
    <xs:restriction base="xs:string">
      <xs:enumeration value="String" />
      <xs:enumeration value="Integer" />
      <xs:enumeration value="Real" />
      <xs:enumeration value="Date" />
      <xs:enumeration value="Enum" />
      <xs:enumeration value="RString" />
      <xs:enumeration value="UtcDateTime" />
      <xs:enumeration value="Container" />
      <xs:enumeration value="VarString" />
      <xs:enumeration value="Record" />
      <xs:enumeration value="Class" />
      <xs:enumeration value="UserType" />
      <xs:enumeration value="AnyType" />
      <xs:enumeration value="BLOB" />
      <xs:enumeration value="Void" />
      <xs:enumeration value="Guid" />
      <xs:enumeration value="Int64" />
      <xs:enumeration value="Time" />
      <xs:enumeration value="VarArg" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Types" nillable="true" type="tns:Types" />
</xs:schema>