AxaptaApiApp/Service References/ExpenseService/ExpenseServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ax2012r2a:8101/DynamicsAx/Services/ExpenseServices?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.AX.Framework.Services" />
  <xs:complexType name="AifFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomDetailXml" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FaultMessageListArray" nillable="true" type="tns:ArrayOfFaultMessageList" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.AX.Framework.Services" minOccurs="0" name="InfologMessageList" nillable="true" type="q1:ArrayOfInfologMessage" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="XppExceptionType" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AifFault" nillable="true" type="tns:AifFault" />
  <xs:complexType name="ArrayOfFaultMessageList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FaultMessageList" nillable="true" type="tns:FaultMessageList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFaultMessageList" nillable="true" type="tns:ArrayOfFaultMessageList" />
  <xs:complexType name="FaultMessageList">
    <xs:sequence>
      <xs:element minOccurs="0" name="Document" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentOperation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FaultMessageArray" nillable="true" type="tns:ArrayOfFaultMessage" />
      <xs:element minOccurs="0" name="Field" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Service" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceOperation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceOperationParameter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="XPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="XmlLine" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="XmlPosition" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FaultMessageList" nillable="true" type="tns:FaultMessageList" />
  <xs:complexType name="ArrayOfFaultMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FaultMessage" nillable="true" type="tns:FaultMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFaultMessage" nillable="true" type="tns:ArrayOfFaultMessage" />
  <xs:complexType name="FaultMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FaultMessage" nillable="true" type="tns:FaultMessage" />
</xs:schema>