AxaptaApiApp/Service References/ExpenseService/ExpenseServices3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/dynamics/2008/01/services" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/dynamics/2008/01/services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ax2012r2a:8101/DynamicsAx/Services/ExpenseServices?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" />
  <xs:import schemaLocation="http://ax2012r2a:8101/DynamicsAx/Services/ExpenseServices?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="DimensionServiceGetActiveDimensionsFromLedgerRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DimensionServiceGetActiveDimensionsFromLedgerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q1:ArrayOfDimensionContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DimensionServiceGetDimensionsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="_accountStructureContract" nillable="true" type="q2:AccountStructureContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DimensionServiceGetDimensionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q3:ArrayOfDimensionContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DimensionServiceGetDimensionsAllRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DimensionServiceGetDimensionsAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q4:ArrayOfDimensionContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DimensionValueServiceCreateDimensionValueRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="_dimensionValueContract" nillable="true" type="q5:DimensionValueContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DimensionValueServiceCreateDimensionValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DimensionValueServiceGetDimensionValuesRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="_dimensionContract" nillable="true" type="q6:DimensionContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DimensionValueServiceGetDimensionValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q7:ArrayOfDimensionValueContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvExpenseLineCustomServiceFindRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_expenseNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvExpenseLineCustomServiceFindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q8:ArrayOfTrvExpenseLineContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvExpenseLineCustomServiceDeleteRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="_expenseLineRecIds" nillable="true" type="q9:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvExpenseLineCustomServiceDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvExpenseLineCustomServiceReadRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_expenseLineRecId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvExpenseLineCustomServiceReadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q10:TrvExpenseLineContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvExpenseLineCustomServiceUpdateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="_expenseLineContract" nillable="true" type="q11:TrvExpenseLineContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvExpenseLineCustomServiceUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q12:TrvExpenseLineContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvExpenseLineCustomServiceCalculateTaxAmountRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_legalEntity" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_amountCurr" type="xs:decimal" />
        <xs:element minOccurs="0" name="_currency" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_transactionDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="_taxIncluded" type="xs:boolean" />
        <xs:element minOccurs="0" name="_taxGroup" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_taxItemGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvExpenseLineCustomServiceCalculateTaxAmountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvExpenseLineCustomServiceCreateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="_expenseLineContract" nillable="true" type="q13:TrvExpenseLineContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvExpenseLineCustomServiceCreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q14:TrvExpenseLineContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvExpenseReferenceDataServiceGetExpenseLinePurposesRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="_trvExpType" type="q15:TrvExpType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvExpenseReferenceDataServiceGetExpenseLinePurposesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q16:ArrayOfTrvExpenseLinePurposesContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvExpenseReferenceDataServiceGetExpenseSalesTaxGroupsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_countryRegionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvExpenseReferenceDataServiceGetExpenseSalesTaxGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q17:ArrayOfTrvSalesTaxGroupContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvExpenseReferenceDataServiceGetExpenseMerchantsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="_trvExpType" type="q18:TrvExpType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvExpenseReferenceDataServiceGetExpenseMerchantsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q19:ArrayOfTrvExpenseMerchantsContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvExpenseReferenceDataServiceGetPerdiemLocationsRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvExpenseReferenceDataServiceGetPerdiemLocationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q20:ArrayOfTrvPerdiemLocationsContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvExpenseReferenceDataServiceGetExpenseLocationsRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvExpenseReferenceDataServiceGetExpenseLocationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q21:ArrayOfTrvExpenseLocationsContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvExpenseReferenceDataServiceGetExpensePurposesRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvExpenseReferenceDataServiceGetExpensePurposesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="response" nillable="true" type="q22:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvExpenseReportCustomServiceResubmitRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_expNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_comment" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvExpenseReportCustomServiceResubmitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvExpenseReportCustomServiceFindRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_personnelNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_limitRecords" type="xs:boolean" />
        <xs:element minOccurs="0" name="_maxNoOfRecords" type="xs:int" />
        <xs:element minOccurs="0" name="_maxPostedRecords" type="xs:int" />
        <xs:element minOccurs="0" name="_maxApprovedRecords" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvExpenseReportCustomServiceFindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q23:ArrayOfTrvExpenseReportContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvExpenseReportCustomServiceCreateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="_expenseReport" nillable="true" type="q24:TrvExpenseReportContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvExpenseReportCustomServiceCreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q25:TrvExpenseReportContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvExpenseReportCustomServiceFindExpenseHeadersRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_personnelNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_limitRecords" type="xs:boolean" />
        <xs:element minOccurs="0" name="_maxNoOfRecords" type="xs:int" />
        <xs:element minOccurs="0" name="_maxPostedRecords" type="xs:int" />
        <xs:element minOccurs="0" name="_maxApprovedRecords" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvExpenseReportCustomServiceFindExpenseHeadersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q26:ArrayOfTrvExpenseReportContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvExpenseReportCustomServiceReadRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_expNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvExpenseReportCustomServiceReadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q27:TrvExpenseReportContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvExpenseReportCustomServiceRecallRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_expNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_comment" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvExpenseReportCustomServiceRecallResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvExpenseReportCustomServiceReadExpenseHeaderRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_expNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvExpenseReportCustomServiceReadExpenseHeaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q28:TrvExpenseReportContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvExpenseReportCustomServiceCreateExpenseWithUnreconciledLineReceiptRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="_trvExpenseReportContract" nillable="true" type="q29:TrvExpenseReportContract" />
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="_unreconciledExpenses" nillable="true" type="q30:ArrayOfTrvUnreconciledExpenseAttachContract" />
        <xs:element xmlns:q31="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="_receiptRecIds" nillable="true" type="q31:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvExpenseReportCustomServiceCreateExpenseWithUnreconciledLineReceiptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q32:TrvExpenseReportContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvExpenseReportCustomServiceDeleteRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="_expNumbers" nillable="true" type="q33:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvExpenseReportCustomServiceDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvExpenseReportCustomServiceUpdateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="_expenseReport" nillable="true" type="q34:TrvExpenseReportContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvExpenseReportCustomServiceUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q35:TrvExpenseReportContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvExpenseReportCustomServiceSubmitRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_expNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_comment" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvExpenseReportCustomServiceSubmitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvExpenseReportCustomServiceGetPolicyViolationsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="_reference" nillable="true" type="q36:TrvReferenceContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvExpenseReportCustomServiceGetPolicyViolationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q37:ArrayOfTrvPolicyViolation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvExpGuestServiceReadRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_guestRecId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvExpGuestServiceReadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q38:TrvExpGuestContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvExpGuestServiceCreateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="_guests" nillable="true" type="q39:ArrayOfTrvExpGuestContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvExpGuestServiceCreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="response" nillable="true" type="q40:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvExpGuestServiceDeleteRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="_recIds" nillable="true" type="q41:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvExpGuestServiceDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvExpGuestServiceDeletePreviousGuestsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="_recIds" nillable="true" type="q42:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvExpGuestServiceDeletePreviousGuestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvExpGuestServiceUpdateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="_guests" nillable="true" type="q43:ArrayOfTrvExpGuestContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvExpGuestServiceUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvExpGuestServiceFindRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_expNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvExpGuestServiceFindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q44:ArrayOfTrvExpGuestContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvExpGuestServiceFindPreviousGuestsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_personnelNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvExpGuestServiceFindPreviousGuestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q45:ArrayOfTrvExpGuestContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvReceiptServiceAttachRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="_trvReceiptAttachmentInformation" nillable="true" type="q46:TrvReceiptAttachmentInformation" />
        <xs:element xmlns:q47="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="_recIds" nillable="true" type="q47:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvReceiptServiceAttachResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q48:TrvReceiptAttachmentInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvReceiptServiceDeleteRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="_recIds" nillable="true" type="q49:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvReceiptServiceDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvReceiptServiceGetDocumentContentsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_recId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvReceiptServiceGetDocumentContentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvReceiptServiceReadRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="_reference" nillable="true" type="q50:TrvReferenceContract" />
        <xs:element minOccurs="0" name="_includeFileInResponse" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvReceiptServiceReadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q51:ArrayOfTrvReceiptContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvReceiptServiceCreateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="_receipt" nillable="true" type="q52:TrvReceiptContract" />
        <xs:element minOccurs="0" name="_includeFileInResponse" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvReceiptServiceCreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q53:TrvReceiptContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvReceiptServiceDetachRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="_receiptAttachmentInformation" nillable="true" type="q54:TrvReceiptAttachmentInformation" />
        <xs:element xmlns:q55="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="_recIds" nillable="true" type="q55:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrvReceiptServiceDetachResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q56:TrvReceiptAttachmentInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>