AxaptaApiApp/Service References/ExpenseService/ExpenseServices8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.AX.Framework.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.AX.Framework.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfInfologMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InfologMessage" nillable="true" type="tns:InfologMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInfologMessage" nillable="true" type="tns:ArrayOfInfologMessage" />
  <xs:complexType name="InfologMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="InfologMessageType" type="tns:InfologMessageType" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InfologMessage" nillable="true" type="tns:InfologMessage" />
  <xs:simpleType name="InfologMessageType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Info" />
      <xs:enumeration value="Warning" />
      <xs:enumeration value="Error" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="InfologMessageType" nillable="true" type="tns:InfologMessageType" />
</xs:schema>