AxaptaApiApp/Service References/MetadataService/MetadataService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.AX.Framework.Services.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.AX.Framework.Services.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLanguageInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LanguageInfo" nillable="true" type="tns:LanguageInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLanguageInfo" nillable="true" type="tns:ArrayOfLanguageInfo" />
  <xs:complexType name="LanguageInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="LanguageId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpecificLcid" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LanguageInfo" nillable="true" type="tns:LanguageInfo" />
</xs:schema>